@use '../../../../scss' as *;

:host {
  z-index: -1;
  overflow: hidden;
  filter: blur(20px);
  @include element-overlay;
  @include hd {
    filter: blur(10px);
  }
  &.fading-in {
    animation: fade-in .5s .1s both;
  }
}

canvas {
  width: 100%;
  height: 100%;
}