@use '../../../../scss' as *;

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  filter: blur(10px);
  &.fading-in {
    animation: fade-in .5s .1s both;
  }
}

canvas {
  width: 100%;
  height: 100%;
}