@use 'sass:color';
@use '../../../../scss' as *;

:host {
  position: relative;
  display: block;
  width: calc($game-block-size - 1px);
  height: calc($game-block-size - 1px);
  &.game-block {
    position: absolute;
    pointer-events: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

//=============================================================================
//  Obstacles
//=============================================================================

$wall-scale: 0.8;
$wall-radius: calc($game-block-size / 2);

:host.rock {
  border-radius: 2px;
  outline: 1px solid #333;
  transform: scale(0.85);
  @include pattern-bg(#242424, #383838);
}

:host.wall {  
  @include pattern-bg(#242424, #383838);
  &.horizontal {
    border-left: none;
    border-right: none;
    transform: scaleY($wall-scale);
  }
  &.vertical {
    border-top: none;
    border-bottom: none;
    transform: scaleX($wall-scale);
  }
  &.end-top {
    border-right: none;
    border-radius: $wall-radius $wall-radius 0 0;
    transform: scaleX($wall-scale) translateY(2px);
  }
  &.end-bottom {
    border-left: none;
    border-radius: 0 0 $wall-radius $wall-radius;
    transform: scaleX($wall-scale) translateY(-2px);
  }
  &.end-left {
    border-right: none;
    border-radius: $wall-radius 0 0 $wall-radius;
    transform: scaleY($wall-scale) translateX(2px);
  }
  &.end-right {
    border-left: none;
    border-radius: 0 $wall-radius $wall-radius 0;
    transform: scaleY($wall-scale) translateX(-2px);
  }
}

//=============================================================================
//  Portals
//=============================================================================

@mixin ellipse {
  border-radius: 50%;
  transform: scaleX(0.75) scaleY(.9);
  img {
    opacity: .5;
  }
}

:host.portal-entrance {
  background-color: color.adjust(deepskyblue, $alpha: -0.5);
  @include ellipse;
}

:host.portal-exit {
  background-color: color.adjust(#ff9900, $alpha: -0.4);
  @include ellipse;
}

//=============================================================================
//  Food
//=============================================================================

$food-normal: green;
$food-yummy: teal;
$food-delicious: blueviolet;

@mixin food-overlay {
  border-radius: 50%;
  @include pseudo-element-overlay(30%, 30%, 40%, 40%);
}

@mixin food-shadow($color) {
  box-shadow: 0 0 2px 2px color.adjust($color, $alpha: -0.5);
}

@mixin food-node($color) {
  &:before {
    background-color: $color;
  }
  &:after {
    @include food-shadow($color);
  }
}

:host.food {
  &:before {
    @include food-overlay;
  }
  &:after {
    animation: food-pulse 1s infinite;
    @include food-overlay;
  }
  &.normal {
    @include food-node($food-normal);
  }
  &.yummy {
    @include food-node($food-yummy);
  }
  &.delicious {
    @include food-node($food-delicious);
  }
}

@keyframes food-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

//=============================================================================
//  Snake
//=============================================================================

@mixin rotate-to-direction {
  &.up {
    transform: rotate(-90deg);
  }
  &.down {
    transform: rotate(90deg);
  }
  &.left {
    transform: rotate(180deg);
  }
}

:host.snake-block {
  width: $game-block-size;
  height: $game-block-size;
  &.head,
  &.tail {
    @include rotate-to-direction;
  }
  &.vertical {
    transform: rotate(90deg);
  }
  &.round-top-left {
    transform: rotate(180deg);
  }
  &.round-top-right {
    transform: rotate(-90deg);
  }
  &.round-bottom-left {
    transform: rotate(90deg);
  }
  &.fail {
    filter: hue-rotate(180deg) saturate(200%) brightness(60%);
  }
  &.success {
    filter: hue-rotate(-40deg) saturate(200%) brightness(80%);
  }
}
