@use 'sass:color';
@use '../../../../scss' as *;

:host {
  position: relative;
  display: block;
  width: calc($game-block-size - 1px);
  height: calc($game-block-size - 1px);
  &.game-block {
    position: absolute;
    pointer-events: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
}



$rock-outline: 1px solid #444;
$wall-border: 1px solid #444;

$wall-scale: 0.8;
$wall-radius: calc($game-block-size / 2);

:host.rock {
  border-radius: 2px;
  outline: $rock-outline;
  transform: scale(0.85);
}

:host.wall {
  border: $wall-border;
  overflow: hidden;
  &.horizontal {
    border-left: none;
    border-right: none;
    transform: scaleY($wall-scale);
  }
  &.vertical {
    border-top: none;
    border-bottom: none;
    transform: scaleX($wall-scale);
  }
  &.end-top {
    border-right: none;
    border-radius: $wall-radius $wall-radius 0 0;
    transform: scaleX($wall-scale) translateY(2px);
  }
  &.end-bottom {
    border-left: none;
    border-radius: 0 0 $wall-radius $wall-radius;
    transform: scaleX($wall-scale) translateY(-2px);
  }
  &.end-left {
    border-right: none;
    border-radius: $wall-radius 0 0 $wall-radius;
    transform: scaleY($wall-scale) translateX(2px);
  }
  &.end-right {
    border-left: none;
    border-radius: 0 $wall-radius $wall-radius 0;
    transform: scaleY($wall-scale) translateX(-2px);
  }
}





$food-normal: green;
$food-yummy: teal;
$food-delicious: blueviolet;

@mixin food-overlay {
  border-radius: 50%;
  @include pseudo-element-overlay(30%, 30%, 40%, 40%);
}

@mixin food-shadow($color) {
  box-shadow: 0 0 2px 2px color.adjust($color, $alpha: -0.5);
}

:host.food {
  &:before {
    @include food-overlay;
  }
  &:after {
    animation: food-pulse 1s infinite;
    @include food-overlay;
  }
  &.normal {
    &:before {
      background-color: $food-normal;
    }
    &:after {
      @include food-shadow($food-normal);
    }
  }
  &.yummy {
    &:before {
      background-color: $food-yummy;
    }
    &:after {
      @include food-shadow($food-yummy);
    }
  }
  &.delicious {
    &:before {
      background-color: $food-delicious;
    }
    &:after {
      @include food-shadow($food-delicious);
    }
  }
}

@keyframes food-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}





@mixin rotate-to-direction {
  &.up {
    transform: rotate(-90deg);
  }
  &.down {
    transform: rotate(90deg);
  }
  &.left {
    transform: rotate(180deg);
  }
}

$snake-color: #007777;
$snake-eyes-color: #00cc88;

$snake-dead-color: maroon;
$snake-success-color: green;

@mixin snake-color($color) {
  box-shadow: 
    0 0 2px 2px $color inset,
    0 0 8px 8px color.adjust($color, $alpha: -0.5) inset;
  background: 
    repeating-linear-gradient(45deg, transparent 0, transparent 3px, #000 4px, #000 4px),
    repeating-linear-gradient(-45deg, $color 0, $color 3px, #000 4px, #000 4px);
}

:host.snake-block {
  width: $game-block-size;
  height: $game-block-size;  
  @include snake-color($snake-color);
  &.head {
    clip-path: inset(2px 0 2px 0 round 0 10px 10px 0);
    @include rotate-to-direction;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 45%;
      width: 25%;
      height: 20%;
      background: $snake-eyes-color;
      border-radius: 50%;
    }
    &:before {
      top: 25%;
    }
    &:after {
      bottom: 25%;
    }
  }
  &.tail {
    clip-path: inset(2px 0 2px 0 round 10px 0 0 10px);
    @include rotate-to-direction;
  }
  &.horizontal {
    clip-path: inset(2px 0);    
  }
  &.vertical {
    clip-path: inset(0 2px);
  }
  &.round-top-left,
  &.round-top-right,
  &.round-bottom-left,
  &.round-bottom-right {
    //clip-path: path('M 0 1 A 1 1 0 0 0 1 0 L 15 0 L 15 7.5 C 15 11.75 11.75 15 7.5 15 L 0 15 Z');
    clip-path: path('M 0 2 A 2 2 0 0 0 2 0 L 19 0 L 19 10 C 19 15 15 19 10 19 L 0 19 Z');
  }
  &.round-top-left {
    transform: rotate(180deg);
  }
  &.round-top-right {
    transform: rotate(-90deg);
  }
  &.round-bottom-left {
    transform: rotate(90deg);
  }
  &.fail {
    @include snake-color($snake-dead-color);
  }
  &.success {
    @include snake-color($snake-success-color);
  }
}


// Temporarty for debugging
:host {
  &.no-enemies {
    opacity: .2;
    background-color: yellow;
  }
  &.no-food {
    opacity: .2;
    background-color: blue;
  }
  &.all {
    opacity: .2;
    background-color: red;
  }
}