@use '../../../../scss' as *;

:host {
  @include area;
}

$ruler-padding: 2px;

.middle-wrapper {
  display: flex;
}

.ruler {
  display: flex;
  &.horizontal {
    padding: $ruler-padding calc($game-block-size + 2 * $ruler-padding);
  }
  &.vertical {
    flex-direction: column-reverse;
    padding: 0 $ruler-padding;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $game-block-size;
    height: $game-block-size;
    color: $text-normal;
    font-size: 11px;
  }
}

.position-tracker {
  position: absolute;
  padding: 2px 5px;
  border: 1px solid $border-normal;
  border-radius: 4px;
  background-color: $bg-button;
  color: $text-normal;
  font-size: 14px;
  white-space: nowrap;
  &.invisible {
    display: none;
  }
  @include hover {
    display: none;
  }
}

.temporary {
  opacity: .5;
}