@use '../../../../scss' as *;

:host {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type=file] {
  display: none;
}