<!-- Load & Save JSON -->
<div class="wrapper">
  <input type="file" [id]="EditorInputId.file" (change)="onFileChange($event)" accept=".json" />
  <button type="button" (click)="loadJSON()">Load JSON</button>
  <button type="button" (click)="saveJSON()">Save JSON</button>
</div>

<!-- Main Container -->
<div class="wrapper">

  <!-- Game Level Area -->
  <app-area
    [(level)]="level"
    [(selectedAsset)]="selectedAsset"
    [(selectedModeId)]="selectedModeId"
  />

  <!-- Tab Container -->
  <div class="tabs">

    <!-- Mode Selection -->
    <div class="wrapper">
      @for (tab of EDITOR_TABS; track tab.id) {
        <button
          type="button"
          [ngClass]="{ 'selected': selectedTabId === tab.id }"
          (click)="selectTab(tab)">
          {{ tab.name }}
        </button>
      }
    </div>

    <!-- Tabs -->
    @switch (selectedTabId) {
      @case (EditorTabId.assets) {
        <app-assets [(selectedAsset)]="selectedAsset" [(selectedModeId)]="selectedModeId" />
      }
      @case (EditorTabId.properties) {
        <app-properties [(level)]="level" />
      }
    }

  </div>
  
</div>