@use '../../../../scss' as *;

:host {
  height: 50%;
  @include side-column-area;
}

.item-container {
  display: inline-flex;
  align-items: baseline;
  gap: 2px;
  color: $text-brighter;
  font-weight: 500;
  letter-spacing: .05em;
  &.key,
  &.button {
    padding: 0 5px 0 3px;
    border-radius: 4px;
    background: $bg-button-hovered;
  }
  &.key img {
    width: 15px;
    height: 15px;
    transform: translateY(2px);
  }
  &.button img {
    width: 10px;
    height: 10px;
  }
}

app-asset-block {
  transform: translateY(2px);
}