@use '../base' as *;

section {
  display: flex;
  align-items: center;
  gap: 15px;
  &.column {
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
}

label {
  padding: 0 5px;
  font-size: 15px;
  white-space: nowrap;
}

input,
textarea {
  width: 100%;
  padding: 3px 6px;
  border: 1px solid $border-normal;
  border-radius: 4px;
  background-color: $bg-medium;
  color: $text-normal;
  font-size: 15px;
  font-family: inherit;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}