@use '../../../../scss' as *;

:host {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  background: 
    repeating-linear-gradient(45deg, transparent 0, transparent 5px, #333 6px),
    repeating-linear-gradient(-45deg, #222 0, #222 5px, #333 6px);
}