@use '../../../../scss' as *;

:host {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background: 
    repeating-linear-gradient(45deg, transparent 0, transparent 5px, #333 6px, transparent 7px, transparent 9px, #333 10px),
    repeating-linear-gradient(-45deg, #222 0, #222 5px, #333 6px, #222 7px, #222 10px, #333 11px);
}