@keyframes fade-in {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}