// Text
$text-normal: #bbb;
$text-darker: #999;
$text-selected: green;

// Backgrounds
$bg-base: #111;
$bg-area: #181818;
$bg-button: #282828;
$bg-button-hovered: #333;
$bg-input: #222;

// Borders
$border-normal: #444;
$border-dim: #333;
$border-dark: #222;