// Text
$text-normal: #bbb;
$text-darker: #999;
$text-selected: #39ac6b;

// Backgrounds
$bg-base: #111;
$bg-area: #181818;
$bg-medium: #222;
$bg-button: #282828;
$bg-button-hovered: #333;

// Borders
$border-normal: #444;
$border-dim: #333;
$border-dark: #222;
$border-selected: #20603b;