@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin pseudo-element-overlay($top: 0, $left: 0, $width: 100%, $height: 100%) {
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}