@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin element-overlay($top: 0, $left: 0, $width: 100%, $height: 100%) {
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin pseudo-element-overlay($top: 0, $left: 0, $width: 100%, $height: 100%) {
  content: '';
  @include element-overlay($top, $left, $width, $height);
}

@mixin pattern-bg($bg-color, $line-color) {
  background: 
    repeating-linear-gradient(
      45deg,
      transparent 0, transparent 5px,
      $line-color 6px,
      transparent 7px, transparent 9px,
      $line-color 10px
    ),
    repeating-linear-gradient(
      -45deg,
      $bg-color 0, $bg-color 5px,
      $line-color 6px,
      $bg-color 7px, $bg-color 10px,
      $line-color 11px
    );
}