$menu-content-width: 1600px;
$menu-content-width-hd: 1200px;

$level-content-width: 1600px;
$level-content-width-small: 1200px;
$level-fit-scale: calc(5 / 7);

$game-block-size: 21px;
$game-area-size: 32;
