<!-- Default Panel -->
@if (game().state === GameState.ready || game().state === GameState.running) {
  <div class="default-buttons">
    @if (hasWonBefore) {
      <ng-template
        [ngTemplateOutlet]="time"
        [ngTemplateOutletContext]="{ text: 'Best Time', value: level().progression.bestTime }"
      />
    } @else {
      <ng-template
        [ngTemplateOutlet]="progress"
        [ngTemplateOutletContext]="{
          text: 'Best Attempt',
          value: game().progress > level().progression.bestProgress 
            ? game().progress
            : level().progression.bestProgress
        }"
      />
    }
    <button
      type="button"
      class="start"
      [ngClass]="{ 'disabled': game().state === GameState.running }"
      (click)="startGame()">
      <img src="images/buttons/start.svg" alt="" />
      <ng-container>Start</ng-container>
    </button>
    <button type="button" (click)="showMenu()">
      <img src="images/buttons/menu.svg" alt="" />
      <ng-container>Menu</ng-container>
    </button>
  </div>
}

<!-- Defeat Panel -->
@if (game().state === GameState.defeat) {
  <div class="controls-overlay defeat">
    <div class="overlay-header">YOU DIED</div>
    @if (isNewBestAttempt()) {
      <ng-template
        [ngTemplateOutlet]="progress"
        [ngTemplateOutletContext]="{ text: 'New Best Attempt', value: game().progress }"
      />
    } @else {
      <ng-template
        [ngTemplateOutlet]="progress"
        [ngTemplateOutletContext]="{ text: 'Current Attempt', value: game().progress }"
      />
      <ng-template
        [ngTemplateOutlet]="progress"
        [ngTemplateOutletContext]="{ text: 'Best Attempt', value: level().progression.bestProgress }"
      />
    }
    <div class="overlay-buttons">
      <button type="button" (click)="resetGame()">
        <img src="images/buttons/replay.svg" alt="" />
        <ng-container>Try Again</ng-container>
      </button>
      <button type="button" (click)="showMenu()">
        <img src="images/buttons/menu.svg" alt="" />
        <ng-container>Menu</ng-container>
      </button>

    </div>
  </div>
}

<!-- Victory Panel -->
@if (game().state === GameState.victory) {
  <div class="controls-overlay victory">
    <div class="overlay-header">VICTORY</div>
    @if (isNewBestTime()) {
      <ng-template
        [ngTemplateOutlet]="time"
        [ngTemplateOutletContext]="{ text: 'New Best Time', value: game().stats.elapsedTime }"
      />
    } @else {
      @if (hasWonBefore) {
        <ng-template
          [ngTemplateOutlet]="time"
          [ngTemplateOutletContext]="{ text: 'Current Run', value: game().stats.elapsedTime }"
        />
        <ng-template
          [ngTemplateOutlet]="time"
          [ngTemplateOutletContext]="{ text: 'Best Time', value: level().progression.bestTime }"
        />
      }
    }
    <div class="overlay-buttons">
      <button type="button" (click)="resetGame()">
        <img src="images/buttons/replay.svg" alt="" />
        <ng-container>Play Again</ng-container>
      </button>
      @if (isLastLevel()) {
        <button type="button" (click)="showMenu()">
          <img src="images/buttons/menu.svg" alt="" />
          <ng-container>Menu</ng-container>
        </button>
      } @else {
        <button type="button" (click)="showMenu()">
          <img src="images/buttons/start.svg" alt="" />
          <ng-container>Next</ng-container>
        </button>
      }
    </div>
  </div>
}

<!-- Template: Progress Info Line -->
<ng-template #progress let-text="text" let-value="value">
  <div class="section-line">
    <ng-container>{{ text }}: </ng-container>
    <ng-container>{{ value }}</ng-container>
    <ng-container>&hairsp;/&hairsp;</ng-container>
    <ng-container>{{ level().settings.goal }}</ng-container>
  </div>
</ng-template>

<!-- Template: Time Info Line -->
<ng-template #time let-text="text" let-value="value">
  <div class="section-line">
    <ng-container>{{ text }}: </ng-container>
    <ng-container>{{ value | secondsAsTime }}</ng-container>
  </div>
</ng-template>