@if (game().state === GameState.ready || game().state === GameState.running) {
  <div class="default-buttons">
    @if (level().progression.bestTime > 0) {
      <div class="section-line">
        <ng-container>Best Time: </ng-container>
        <ng-container>{{ level().progression.bestTime | secondsAsTime }}</ng-container>
      </div>
    } @else {
      <div class="section-line">
        <ng-container>Best Attempt: </ng-container>
        <ng-container>{{ level().progression.bestProgress }}</ng-container>
        <ng-container>&hairsp;/&hairsp;</ng-container>
        <ng-container>{{ level().settings.goal }}</ng-container>
      </div>
    }
    <button
      type="button"
      class="start"
      [ngClass]="{ 'disabled': game().state === GameState.running }"
      (click)="startGame()">
      <img src="images/buttons/start.svg" alt="" />
      <ng-container>Start</ng-container>
    </button>
    <button type="button" (click)="showMenu()">
      <img src="images/buttons/menu.svg" alt="" />
      <ng-container>Menu</ng-container>
    </button>
  </div>
}

@if (game().state === GameState.defeat) {
  <div class="controls-overlay defeat">
    <div class="overlay-header">YOU DIED</div>
    @if (isNewBestAttempt()) {
      <div class="section-line">
        <ng-container>New best attempt: </ng-container>
        <ng-container>{{ game().progress }}</ng-container>
        <ng-container>&hairsp;/&hairsp;</ng-container>
        <ng-container>{{ level().settings.goal }}</ng-container>
      </div>
    }
    <div class="overlay-buttons">
      <button type="button" (click)="resetGame()">
        <img src="images/buttons/replay.svg" alt="" />
        <ng-container>Try Again</ng-container>
      </button>
      <button type="button" (click)="showMenu()">
        <img src="images/buttons/menu.svg" alt="" />
        <ng-container>Menu</ng-container>
      </button>

    </div>
  </div>
}

@if (game().state === GameState.victory) {
  <div class="controls-overlay victory">
    <div class="overlay-header">VICTORY</div>
    @if (isNewBestTime()) {
      <div class="section-line">
        <ng-container>New best time: </ng-container>
        <ng-container>{{ game().stats.elapsedTime | secondsAsTime }}</ng-container>
      </div>
    }
    <div class="overlay-buttons">
      <button type="button" (click)="resetGame()">
        <img src="images/buttons/replay.svg" alt="" />
        <ng-container>Play Again</ng-container>
      </button>
      @if (isLastLevel()) {
        <button type="button" (click)="showMenu()">
          <img src="images/buttons/menu.svg" alt="" />
          <ng-container>Menu</ng-container>
        </button>
      } @else {
        <button type="button" (click)="showMenu()">
          <img src="images/buttons/start.svg" alt="" />
          <ng-container>Next</ng-container>
        </button>
      }
    </div>
  </div>
}
