@use '../../../../scss' as *;

:host {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.default-controls {
  display: flex;
  gap: 10px;
}

.controls-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: $bg-base;
  animation: grow .2s;
}

.overlay-header {
  width: 80%;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  font-size: 20px;
  text-align: center;
}

.overlay-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}