@use '../../../../scss' as *;

:host {
  @include tab;
}

h3 {
  margin-top: 5px;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid $border-normal;
}

section {
  margin: 10px 0;
  gap: 6px;
  padding: 0 5px;
}

.asset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: $bg-base;
  border: 1px solid $border-normal;
  transition: .2s;
  cursor: pointer;
  &.selected {
    border-color: green;
  }
}