@use '../../../../scss' as *;

:host {
  display: flex;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 5px;
  background-color: $bg-button;
}

.label {
  display: flex;
  &.value {
    margin-left: auto;
  }
  .absolute {
    width: 80px;
    text-align: center;
  }
  .percentage {
    width: 50px;
    text-align: center;
  }
}

.progress-bar-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  border-radius: 5px;
  background-color: $bg-button-hovered;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  background-color: darkgreen;
  border-radius: 5px;
  &.positive {
    background-color: green;
  }
  &.negative {
    background-color: maroon;
  }
  &.delayed {
    transition: width 1s;
  }
}