@use '../../../../scss' as *;

:host {
  display: flex;
  padding: 5px 10px;
  gap: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  text-shadow: 1px 1px #222;
  //background-color: $bg-button;

  background: 
    repeating-linear-gradient(45deg, transparent 0, transparent 5px, #333 6px, transparent 7px, transparent 9px, #333 10px),
    repeating-linear-gradient(-45deg, #222 0, #222 5px, #333 6px, #222 7px, #222 10px, #333 11px);
}

.label {
  display: flex;
  &.value {
    margin-left: auto;
  }
  .absolute {
    width: 80px;
    text-align: center;
  }
  .percentage {
    width: 50px;
    text-align: center;
  }
}

.progress-bar-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 450px;
  border: 1px solid $border-dark;
  border-radius: 5px;
  background-color: $bg-base;
  overflow: hidden;
  &:before {
    z-index: 5;
    background: repeating-linear-gradient(90deg, transparent 0, transparent 10px, #333 11px);
    @include pseudo-element-overlay;
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  background-color: darkgreen;
  border-radius: 3px;
  &.positive {
    background-color: green;
  }
  &.negative {
    background-color: maroon;
  }
  &.delayed {
    transition: width 1s;
  }
}