<!-- Mode Selection -->
<section>
  <label>Mode:</label>
  @for (mode of ASSET_PLACING_MODES; track mode.id) {
    <button
      type="button"
      class="editor-button" 
      [ngClass]="{ 'selected': selectedModeId() === mode.id }"
      (click)="selectMode(mode.id)">
      {{ mode.name }}
    </button>
  }
</section>

<!-- Obstacles -->
<ng-template
  [ngTemplateOutlet]="assetGroup"
  [ngTemplateOutletContext]="{
    name: 'Obstacles',
    assets: obstacles
  }"
/>

<!-- Portals -->
<h3>Portals</h3>
<section>
  <button type="button" class="editor-button" (click)="addPortal()">Add Portal</button>
</section>

<!-- Enemies -->
<ng-template
  [ngTemplateOutlet]="assetGroup"
  [ngTemplateOutletContext]="{
    name: 'Enemies',
    assets: enemies
  }"
/>

<!-- Food -->
<ng-template
  [ngTemplateOutlet]="assetGroup"
  [ngTemplateOutletContext]="{
    name: 'Food',
    assets: food
  }"
/>

<!-- Template: Asset Group -->
<ng-template #assetGroup let-name="name" let-assets="assets">
  <h3>{{ name }}</h3>
  <section>
    @for (asset of assets; track $index) {
      <div
        class="asset-wrapper"
        [ngClass]="{ 'selected': asset === selectedAsset() }"
        (click)="selectAsset(asset)">
        <app-asset-block [type]="asset.type" [subType]="asset.subType" />
      </div>
    }
  </section>
</ng-template>