<!-- Mode Selection -->
<section>
  <label>Mode:</label>
  @for (mode of MODE_LIST; track mode.id) {
    <button
      type="button"
      class="editor-button" 
      [ngClass]="{ 
        'selected': selectedMode() === mode.id,
        'disabled': isButtonActive()
      }"
      (click)="selectMode(mode.id)">
      {{ mode.name }}
    </button>
  }
</section>

<!-- Obstacles -->
<h3>Obstacles</h3>
<ng-template
  [ngTemplateOutlet]="assetGroup"
  [ngTemplateOutletContext]="{ assets: obstacles }"
/>
<section>
  <button
    type="button"
    class="editor-button"
    [ngClass]="{ 
      'selected': selectedAsset().type === AssetType.obstacle 
        && selectedAsset().subType === ObstacleType.wallHorizontal
        && isButtonActive()
    }"
    (click)="addWall(Orientation.horizontal)">
    Horizontal Wall
  </button>
  <button
    type="button"
    class="editor-button"
    [ngClass]="{ 
      'selected': selectedAsset().type === AssetType.obstacle 
        && selectedAsset().subType === ObstacleType.wallVertical
        && isButtonActive()
    }"
    (click)="addWall(Orientation.vertical)">
    Veritcal Wall
  </button>
</section>

<!-- Portals -->
<h3>Portals</h3>
<section>
  <button
    type="button"
    class="editor-button"
    [ngClass]="{ 'selected': selectedAsset().type === AssetType.portal }"
    (click)="addPortal()">
    Add Portal
  </button>
</section>

<!-- Enemies -->
<h3>Enemies</h3>
<ng-template
  [ngTemplateOutlet]="assetGroup"
  [ngTemplateOutletContext]="{ assets: enemies }"
/>

<!-- Food -->
<h3>Food</h3>
<ng-template
  [ngTemplateOutlet]="assetGroup"
  [ngTemplateOutletContext]="{ assets: food }"
/>

<!-- Template: Asset Group -->
<ng-template #assetGroup let-assets="assets">
  <section>
    @for (asset of assets; track asset.subType) {
      <div
        class="asset-wrapper"
        [ngClass]="{ 
          'selected': asset.type === selectedAsset().type 
            && asset.subType === selectedAsset().subType
            && !isButtonActive()
        }"
        (click)="pickAsset(asset)">
        <app-asset-block [type]="asset.type" [subType]="asset.subType" />
      </div>
    }
  </section>
</ng-template>