@use '../scss' as *;

.app-controls {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 5px;
  gap: 5px;
  button {
    width: 30px;
    height: 30px;
    border: 2px solid #004433;
    border-radius: 4px;
    background: #223322;
    opacity: .7;
    transition: .2s;
    @include hover {
      opacity: 1;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}