@use 'sass:color';
@use '../../../../scss' as *;

:host {
  @include page;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: $content-width;
  margin: 50px auto;
  gap: 10px;
}

$bg-unlocked: #223322;
$bg-locked: #332222;

$c1: color.adjust($bg-unlocked, $lightness: -0.5%);
$c2: color.adjust($bg-unlocked, $lightness: 1.75%);

.level-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid color.adjust($bg-unlocked, $lightness: 3%);
  border-radius: 10px;
  background: repeating-linear-gradient(-45deg, $c1 0, $c1 10px, $c2 11px, $c2 20px);
  text-shadow: 1px 1px #222;
  letter-spacing: .05em;
  transition: .2s;
  cursor: pointer;
  &.locked {
    pointer-events: none;
    background: $bg-locked;
    border-color: color.adjust($bg-locked, $lightness: 3%);
  }
  @include hover {
    filter: brightness(1.1);
  }
}

.upper-block {
  height: 40px;
  margin-bottom: 20px;
  .block-icon {
    width: 40px;
    height: 40px;
    &.lock {
      filter: brightness(.7);
    }
  }
}

.middle-block {
  height: 48px;
  text-align: center;
  .level-name {
    font-size: 20px;
  }
}

.bottom-block {
  height: 20px;
  margin-top: 10px;
  color: $text-darker;
}
