<!-- Level Header -->
<header>
  <h2>Level {{ level().id }}: {{ level().name }}</h2>
</header>

<main>

  <!-- Left Column -->
  <div class="side-column">
    <app-game-stats [game]="game" [level]="level()" [snake]="snake" />
  </div>

  <!-- Central Column -->
  <div class="main-column">
    <app-game-progress
      [progress]="game.progress"
      [goal]="level().settings.goal"
      [isActive]="timer !== null || game.isDefeat || game.isVictory" 
    />
    <app-game-area [game]="game" />
  </div>

  <!-- Right Column -->
  <div class="side-column">
    <app-game-instructions [level]="level()" />
    <app-game-controls 
      [game]="game"
      [level]="level()"
      [isLastLevel]="nextLevelId() === null"
      (start)="startTimer()"
      (pause)="stopTimer()"
      (reset)="resetGame()"
      (toMenu)="showMenu()"
    />
  </div>

</main>
