<div class="game-space">
  @for (column of space(); track $index; let x = $index) {
    @for (block of column; track $index; let y = $index) {
      @if (block.type !== GameBlockType.free) {
        <app-asset-block 
          class="game-block"
          [block]="block"
          [ngStyle]="{
            'left.px': BLOCK_SIZE_PX * x,
            'bottom.px': BLOCK_SIZE_PX * y
          }"
          [ngClass]="{
            'defeat': gameState() === GameState.defeat,
            'victory': gameState() === GameState.victory
          }"
        />
      }
    }
  }
  @for (change of progressChanges; track change.id) {
    <div
      class="progress-value"
      [ngClass]="{ 'damage': change.value < 0 }"
      [ngStyle]="{
        'left.px': BLOCK_SIZE_PX * (change.position.x + .5),
        'bottom.px': BLOCK_SIZE_PX * (change.position.y + .5)
      }">
      <ng-container>{{ change.value > 0 ? '+' : '' }}{{ change.value }}</ng-container>
    </div>
  }
</div>
