@use '../../../../scss' as *;

:host {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid $border-dim;
  border-radius: 4px;
  @include pattern-bg($bg-medium, $border-dim);
  @include small-screen {
    height: 500px;
  }
}

.game-space {
  @include small-screen {
    transform-origin: top left;
    transform: scale($level-fit-scale);
  }
}

.progress-value {
  position: absolute;
  z-index: 2;
  font-weight: 900;
  color: limegreen;
  text-shadow: 2px 2px black;
  animation: fade-in 1.5s reverse both;
  &.damage {
    color: red;
  }
}