@use '../../../../scss' as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
  gap: 15px;
}

app-area {
  z-index: 2;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type=file] {
  display: none;
}