@use '../base' as *;

$game-area-size-px: calc($game-block-size * $game-area-size - 1px);

.game-space {
  position: relative;
  width: $game-area-size-px;
  height: $game-area-size-px;
  outline: 1px solid $border-dim;
  background: 
    repeating-linear-gradient(
      transparent 0, transparent calc($game-block-size - 1px),
      $border-normal $game-block-size
    ),
    repeating-linear-gradient(
      90deg,
      transparent 0, transparent calc($game-block-size - 1px),
      $border-normal $game-block-size
    ),
    radial-gradient(hsl(145, 50%, 7%), black);
}