@use '../../../../scss' as *;

:host {
  @include page;
}

h2 {
  margin: 30px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: .02em;
}

.wrapper {
  display: flex;
  flex-shrink: 1;
  margin: 0 auto;
  gap: 10px;
}

.side-column,
.main-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.side-column {
  width: 250px;
  padding: 10px;
}
