@use 'sass:color';
@use '../../../../scss' as *;

:host {
  @include page;
}

h2 {
  margin: 30px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: .02em;
  text-shadow: 2px 2px #222;
}

main {
  display: flex;
  flex-shrink: 1;
  width: $content-width;
  margin: 0 auto 50px auto;
  gap: 10px;
}

.side-column,
.main-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.side-column {
  width: 250px;  
  & > * {
    padding: 10px;
    border-radius: 10px;
    background-color: color.adjust(black, $alpha: -0.75);
  }
  
}
