<!-- Horizontal Ruler (Top) -->
<ng-template
  [ngTemplateOutlet]="ruler"
  [ngTemplateOutletContext]="{ orientation: Orientation.horizontal }"
/>

<div class="middle-wrapper">

  <!-- Vertical Ruler (Left) -->
  <ng-template
    [ngTemplateOutlet]="ruler"
    [ngTemplateOutletContext]="{ orientation: Orientation.vertical }"
  />

  <!-- Game Space Area -->
  <div
    class="game-space"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()"
    (click)="onMapLeftClick()"
    (contextmenu)="onMapRightClick($event)">

    <!-- Entities -->
    @for (entity of levelMapEntities; track entity.position) {
      <ng-template 
        [ngTemplateOutlet]="asset"
        [ngTemplateOutletContext]="{ entity }"
      />
    }

    <!-- Temporary Entities -->
    @for (entity of actionEntities; track entity.position) {
      <ng-template 
        [ngTemplateOutlet]="asset"
        [ngTemplateOutletContext]="{ entity, isTemporary: true }"
      />
    }

    <!-- Tooltip -->
    @if (mousePixelPosition) {
      <app-tooltip 
        [cursor]="mousePosition()!"
        [blocks]="levelMapEntities"
        [areas]="level().map?.areas || []"
        [walls]="level().map?.walls || []"
        [portals]="level().map?.portals || []"
        [asset]="selectedAsset()"
        [mode]="selectedMode()"
        [isActionInProgress]="isActionInProgress"
        [ngStyle]="{
          'left.px': mousePixelPosition.x + TOOLTIP_SHIFT_PX,
          'top.px': mousePixelPosition.y + TOOLTIP_SHIFT_PX
        }"
      />
    }

  </div>

  <!-- Vertical Ruler (Right) -->
  <ng-template
    [ngTemplateOutlet]="ruler"
    [ngTemplateOutletContext]="{ orientation: Orientation.vertical }"
  />
  
</div>

<!-- Horizontal Ruler (Bottom) -->
<ng-template
  [ngTemplateOutlet]="ruler"
  [ngTemplateOutletContext]="{ orientation: Orientation.horizontal }"
/>

<!-- Template: Ruler -->
<ng-template #ruler let-orientation="orientation">
  <div
    class="ruler"
    [ngClass]="{
      'horizontal': orientation === Orientation.horizontal,
      'vertical': orientation === Orientation.vertical
    }">
    @for (block of [].constructor(AREA_SIZE); track $index) {
      <span
        [ngClass]="{ 
          'match': mousePosition() !== null &&
            (orientation === Orientation.horizontal && mousePosition()!.x === $index
            || orientation === Orientation.vertical && mousePosition()!.y === $index)
        }">
        {{ $index }}
      </span>
    }
  </div>  
</ng-template>

<!-- Template: Asset -->
<ng-template #asset let-entity="entity" let-isTemporary="isTemporary">
  <app-asset-block
    class="game-block temporary"
    [ngClass]="{ 'temporary': isTemporary }"
    [type]="entity.block.type"
    [subType]="entity.block.subType"
    [ngStyle]="{
      'left.px': BLOCK_SIZE * entity.position.x,
      'bottom.px': BLOCK_SIZE * entity.position.y
    }"
  />
</ng-template>