@use './base' as *;

.section {
  margin: 5px 0;
  letter-spacing: .05em;
}

.section-line {
  display: flex;
  padding-left: 5px;
  border-bottom: 1px solid $border-dark;
  font-size: 15px;
  span:last-child{
    margin-left: auto;
  }
}

h3 {
  margin: 20px 0 5px 0;
  padding-left: 5px;
  border-bottom: 1px solid $border-normal;
  font-weight: 500;
  &:first-child {
    margin-top: 5px;
  }
}

h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 7px 0 2px 0;
  font-size: 16px;
  font-weight: 400;
}

ul {
  margin: 10px 0 0 20px;
  font-size: 15px;
  li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-dark;
    letter-spacing: .03em;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.section app-asset-block {
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
}