@use './base' as *;

@mixin area {
  display: flex;
  flex-direction: column;
  background: $bg-area;
  border: 2px solid $border-normal;
  border-radius: 5px;
}

@mixin tab {
  flex-grow: 1;
  width: 300px;
  padding: 10px 5px;
  @include area;
}