@use './base' as *;

button {
  padding: 3px 5px;
  border: 1px solid $border-normal;
  border-radius: 4px;
  background-color: $bg-button;
  color: $text-normal;
  font-size: 15px;
  letter-spacing: .05em;
  transition: .2s;
  cursor: pointer;
  @include hover {
    background-color: $bg-button-hovered;
  }
  &.selected {
    color: $text-selected;
  }
  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}